// app global css in SCSS form

.d-n {
  display: none;
}
.d-b {
  display: block;
}
.d-ib {
  display: inline-block;
}
.ta-r {
  text-align: right;
}
.ta-c {
  text-align: center;
}
.line-1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
